﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <div>
        <asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack="True" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged" >
            <asp:ListItem>Select</asp:ListItem>
            <asp:ListItem>AndhraPradesh</asp:ListItem>
            <asp:ListItem>ArunachalPradesh</asp:ListItem>
            <asp:ListItem>Assam</asp:ListItem>
            <asp:ListItem>Bihar</asp:ListItem>
            <asp:ListItem>Chhattisgarh</asp:ListItem>
            <asp:ListItem>Mumbai</asp:ListItem>
        </asp:DropDownList><br><br>
            
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>


    </div>
    </div>
    </form>
</body>
</html>
